# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
# Java compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Maven
.mvn/
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main//target/
!/src/test//target/